body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#cartMainContainer
{
    padding: 90px 50px;
}
#cartContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
img
{
    width: 80px;
    float: left;
    border-radius: 10px;
    margin-right: 50px;
}
#boxContainer
{
    display: grid;
    grid-gap: 20px;
    padding-right: 20px;
    width: 55%;
    padding-right: 40px;
    /* float: left; */
    position: absolute;
    overflow: scroll;
}
#box
{
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    border-radius: 10px;
    width: 100%;
    /* margin: auto */
    padding: 20px 10px;
}
#box:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}
#totalContainer
{
    width: 25%;
    height: 120px;
    padding: 20px;
    /* margin: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    position: fixed;
    right: 55px;
    bottom: 10px;
}
#totalContainer:hover
{
    box-shadow: 0px 1px 3px 2px rgb(185, 185, 185);
}
button
{
    padding: 8px 12px;
    background-color: rgb(3, 122, 122);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
button:hover
{
    background-color: rgb(3, 94, 94);
}
button a:focus
{
    outline: none;
}

h1 {
    margin: 0px !important;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px)
{
    img
    {
        width: 60px;
        margin-right: 20px;
    }
    h3, h4
    {
        font-size: 14px;
    }
    h2
    {
        font-size: 18px;
    }
    #cartMainContainer
    {
        padding: 90px 20px;
    }
}
@media(max-width: 555px)
{
    #cartContainer
    {
        display: grid;
        grid-template-columns: 1fr;
    }    
    #boxContainer
    {
        padding: 20px;
        width: 80%;
    }
}


.operation-image {
    width: 150px;
    height: 150px;
    display: flex;
    top: 100px;
    right: 190px;
    border: 1.5px solid rgb(150, 150, 150);   
    position: fixed;
    object-fit: cover;
    margin-right: -22px;
    margin-top: 57px;

}

.payment{
    display: flex;
    top: 100px;
    right: 161px;
    position: fixed;
    object-fit: cover;
    margin-right: -22px;
    margin-top: 57px;
    z-index: 1;
    
}

#timer{
    font-size: 2rem;
    font-weight: 900;
    top: 270px;
    right: 220px;
    position: fixed;
    object-fit: cover;
    margin-right: -22px;
    margin-top: 57px;
    color: rgb(0, 4, 219);
}
